* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position : relative;
}


.barraSuperior {
    background-color: pink; 
    display:flex;
    gap:15px;
    justify-content: center;

   
}

.barraSuperior a {
    padding: 2px 15px;
    border-radius : 25px;
    margin-top:1px;
    
    background-color : rgb(229, 110, 130);
    color:white;
    text-decoration : none;
    font-size : 15px;
    height : 30px;
    font-size: 20px;

    transition : 0.3s ease;
}




.barraSuperior a:hover {
    background-color : rgb(255, 0, 0);
    color:white;
    transform: scale(1.08);
}










html,
.theirsCode {
    height: 100vh;
    
}


section {
    padding:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.coracaoBatendo {
    position : relative;
   
}
.coracao { 


    position : relative;
    width : 300px;
    height : 300px;
    background : pink;
    transform : rotate(45deg);
    animation : beat 2s ease-out infinite;
}
.coracao::before, .coracao::after {
    content : '';
    width: 300px;
    height: 300px;
    border-radius: 300%;
    background: pink;
    position: absolute;
}
.coracao::before {
    top : -150px;
}
.coracao::after {
    left : -150px;
}@keyframes beat {
  0%, 40%, 70%, 100%{
    transform: scale(1) rotate(45deg);
  }

  50%, 80% {
    transform: scale(1.2) rotate(45deg);
  }
}

