@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position : relative;
}

.meuCodigo {
    min-height: 100vh;
   background-color: pink; 
}

.barraSuperior {
    background-color: pink; 
    display:flex;
    gap:15px;
    justify-content: center;

   
}

.barraSuperior a {
    padding: 2px 15px;
    border-radius : 25px;
    margin-top:1px;
    
    background-color : rgb(229, 110, 130);
    color:white;
    text-decoration : none;
    font-size : 15px;
    height : 30px;
    font-size: 20px;

    transition : 0.3s ease;
}




.barraSuperior a:hover {
    background-color : rgb(255, 0, 0);
    color:white;
    transform: scale(1.08);
}




.conteudo{
    display: flex;
    justify-content: center;
    
    padding: 15px;
    
    
}

.conteudoTodo {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;
    align-items: center;
    
   
}

.foto img{
  
  width: 100%;
  max-width: 800px;
  border-radius: 25px;
  object-fit: cover;
  box-shadow: 0 15px 35px rgba(0,0,0,0.18);
 }


















.message-box {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px 40px;

  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(8px);
  border-radius: 20px;

  ;
}

.message-box h1 {
  font-size: clamp(28px, 5vw, 48px);
  color: #f57fba;
  margin-bottom: 20px;
  text-align:center;
}

.message-box h3 {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.message-box strong {
  display: block;
  margin-top: 20px;
  font-size: 22px;
  color: #ff0000;
  text-align:center;
}


